img {
    display: block;
    max-width: 100%;
    height: auto;
}
.gallery {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.gallery-item {
    display: inline-block;
}
.gallery-item:not(:last-child) {
    margin-right: 50px;
}
.image-item {
    list-style: none;
    width: 400px;
  }